<div class='comment'>
  <p><%= comment.text %></p>
  <div>
    <span><%= comment.user.username %></span>
    <span><%= distance_of_time_in_words(Time.now, comment.created_at) %> ago</span>
  </div>
</div>
