<div class="field">
  <h2><%=@user.username%>'s Profile</h2>
</div>

<hr>

<div class="field">
  <h3>All of <%=@user.username%>'s favorite_movies</h3>
  <ul>
    <%@user.favorite_movies.each do |movie|  %>
      <li>link_to "Movie", movie_path(movie)</li>
    <% end %>
  </ul>
</div>

<div class="field">
    <h3><%= @user.username%>'s watchlists </h3>
      <ul>
      <% user.watchlist.each do |watchlist| %>
      <li>link_to "Watchlist", watchlist_path(watchlist)</li>
      <% end %>
    </ul>
</div>

<div class="field">
    <h3><%= @user.username%>'s watchlists </h3>
      <ul>
      <% user.watchlist.each do |watchlist| %>
      <li>
        link_to "Watchlist", watchlist_path(watchlist)
      </li>
      <% end %>
    </ul>
</div>
